/* Screensaver Overlay Styles */
.screensaver-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: none;
}

.screensaver-overlay canvas {
  width: 100%;
  height: 100%;
}
